# 1. Dependencies (The most important one)
node_modules/

# 2. Project Output (Don't commit scraped data)
products.json
mapped_data.json

# 3. Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 4. Environment variables (if you add them later)
.env
.env.local

# 5. OS specific files
.DS_Store
Thumbs.db

# 6. Editor files (VSCode, etc.)
.vscode/
.idea/


PRODUCTS_TO_MATCH.csvdata/
